@import "foundation.css";
/* Takes foundation CSS by default, any changes I make will be here */

body {
background-color: #343D46;
}

a {
    color: black;
}

.navigation-bar a {
    color: red;
    font-size: 2rem;
}

#headshot {
    border-radius: 50%;
}
